/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
html,
body {
  min-height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 600px;
}

.app-main {
  flex: 1;
}

/* Header */
.app-header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.menu-button {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.app-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Navigation */

.main-menu {
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: 5em;
  display: none;
}
.main-menu.menu-open {
  display: block;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  width: 100%;
}

.menu-iten button {
  border: none;
  background: none;
  text-align: left;
  padding: 1rem;
}

/* Sections */

.app-section {
  display: none;
  padding: 2rem;
  width: 100%;
}

.app-section.active {
  display: block;
}
